@charset "UTF-8";
.display-flex {
  display: flex; }

.align-items-flex-start {
  align-items: flex-start; }

.align-items-center {
  align-items: center; }

.justify-content-center {
  justify-content: center; }

.justify-content-space-between {
  justify-content: space-between; }

.justify-content-space-around {
  justify-content: space-around; }

.colRow {
  flex-direction: column; }
  @media screen and (min-width: 52.31em) {
    .colRow {
      flex-direction: row; } }

.show-error {
  position: relative;
  left: 0;
  color: red; }

h1 {
  font-size: 2em; }

.hide-error {
  display: none; }

.hide {
  display: none; }

.show {
  display: block; }

.text-center {
  text-align: center; }

.text-white {
  color: white; }

.text-uppercase {
  text-transform: uppercase; }

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

textarea {
  width: 100%;
  margin: 0;
  padding: 0.5em; }
  @media screen and (min-width: 48em) {
    textarea {
      padding: 1em; } }

button {
  background-color: transparent;
  border: none; }

.padding-half {
  padding: 0.5em 0; }

.dark {
  background-color: "Prussian Blue";
  background-color: #393a4c; }
  .dark .container-enter-task {
    background-color: #4d5066; }
    .dark .container-enter-task div, .dark .container-enter-task textarea {
      background-color: #4d5066; }
    .dark .container-enter-task textarea, .dark .container-enter-task ::placeholder {
      color: "Oxford Blue";
      color: #fafafa; }
  .dark .css-tasks div, .dark .css-tasks input, .dark .css-tasks textarea {
    background-color: #4d5066;
    color: "Oxford Blue";
    color: #fafafa; }
  .dark .items-left, .dark ul button {
    color: Crystal;
    color: #cacde8; }
  .dark .button-parent, .dark .button-parent > * {
    background-color: #4d5066; }
  .dark .checkbox-round:hover {
    background: linear-gradient(gray, gray) padding-box, linear-gradient(#57ddff, #c058f3) border-box; }
  .dark .css-reset {
    color: white;
    border: 2px solid white; }
  .dark hr {
    border-color: #717070; }
  .dark .attribution a, .dark .attribution span {
    color: #e4e5f1; }
  .dark .cross {
    filter: invert(21%) sepia(3%) saturate(3650%) hue-rotate(199deg) brightness(95%) contrast(89%); }
  .dark .padding-half:hover .cross {
    filter: brightness(0) saturate(100%) invert(74%) sepia(100%) saturate(3%) hue-rotate(232deg) brightness(107%) contrast(102%); }
  .dark header {
    background: url(./images/bg-mobile-dark.jpg) top center/100% 100% no-repeat; }
    @media screen and (min-width: 48em) {
      .dark header {
        background: url(./images/bg-desktop-dark.jpg) top center/100% 100% no-repeat; } }

.light {
  background-color: "Oxford Blue";
  background-color: #fafafa; }
  .light .container-enter-task {
    background-color: #f1f2f8; }
    .light .container-enter-task div, .light .container-enter-task textarea {
      background-color: #f1f2f8; }
    .light .container-enter-task textarea, .light .container-enter-task ::placeholder {
      color: "Oxford Blue";
      color: #161722; }
  .light .css-tasks {
    background-image: linear-gradient(to right, violet, darkred, purple); }
    .light .css-tasks div, .light .css-tasks input, .light .css-tasks textarea {
      background-color: #f5f5fa;
      color: Cerulean;
      color: #777a92; }
  .light .items-left, .light ul button, .light #mobile-clear {
    color: Cerulean;
    color: #9394a5; }
  .light .button-parent, .light .button-parent > * {
    background-color: #f5f5fa; }
  .light .checkbox-round:hover {
    background: linear-gradient(white, white) padding-box, linear-gradient(#57ddff, #c058f3) border-box; }
  .light .cross {
    filter: invert(99%) sepia(49%) saturate(35%) hue-rotate(192deg) brightness(117%) contrast(96%); }
  .light .padding-half:hover .cross {
    filter: brightness(0) saturate(100%) invert(5%) sepia(5%) saturate(6774%) hue-rotate(146deg) brightness(95%) contrast(104%); }
  .light hr {
    border: none;
    border-bottom: 1px solid #dbdbdb; }
  .light .css-reset {
    color: darkgray;
    border: 2px solid darkgray; }
  .light .attribution a, .light .attribution span {
    color: #9394a5; }
  .light header {
    background: url(./images/bg-mobile-light.jpg) top center/100% 100% no-repeat; }
    @media screen and (min-width: 48em) {
      .light header {
        background: url(./images/bg-desktop-light.jpg) top center/100% 100% no-repeat; } }

h1 {
  padding: 0;
  margin: 0; }

@keyframes strike {
  from {
    text-decoration-color: transparent; }
  to {
    text-decoration-color: white; } }
input {
  -ms-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -webkit-transform: scale(1.7);
  transform: scale(1.7);
  border-radius: 50%;
  margin-left: 1em;
  margin-right: 0.8em; }
  input:not(:checked) ~ textarea {
    text-decoration: none; }
  input:checked {
    background-image: linear-gradient(#57ddff, #c058f3);
    cursor: pointer; }
    input:checked ~ textarea {
      text-decoration: line-through;
      animation: strike 3s linear; }
      @media (prefers-reduced-motion: reduce) {
        input:checked ~ textarea {
          animation: strike 5s linear; } }
  input:checked:after {
    content: '✔';
    z-index: 99;
    position: relative;
    left: 20%;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(318%) hue-rotate(154deg) brightness(105%) contrast(104%); }

html {
  box-sizing: border-box; }

*,
::before,
::after {
  box-sizing: inherit; }

body {
  font-size: 1.2rem;
  font-weight: 400; }

.top-z-index {
  position: relative;
  z-index: 1;
  opacity: 1; }

.decorative-circle {
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 50%;
  margin: 0.5em 0em 0em 0.5em; }

.dragging {
  background-color: pink; }

main #mobile-clear {
  display: block; }
@media screen and (min-width: 768px) {
  main #desktop-clear {
    display: block; }
  main #mobile-clear {
    display: none; } }
main .grayish-font {
  color: #cacde8; }
main article {
  padding: 0; }
  main article .container-enter-task {
    margin-bottom: 3em;
    padding: 0.5em; }
  main article .article-body, main article .article-header {
    width: 90%;
    max-width: 992px;
    margin: 0 auto;
    padding: 0; }
  main article .article-header {
    padding-top: 1em;
    height: 18rem; }
  main article .article-body {
    position: relative;
    top: -9rem; }
    main article .article-body .task, main article .article-body textarea, main article .article-body ul, main article .article-body #enter-task {
      border: none; }
    main article .article-body button {
      color: Crystal;
      color: #cacde8; }
      main article .article-body button:hover {
        color: Cerulean;
        color: #e4e5f1; }
    main article .article-body .checkbox-round {
      width: 1.3em;
      height: 1.3em;
      background-color: white;
      border-radius: 50%;
      vertical-align: middle;
      border: 1px solid #ddd;
      appearance: none;
      -webkit-appearance: none;
      outline: none;
      cursor: pointer; }
      main article .article-body .checkbox-round:hover {
        border-radius: 50em;
        border: 2px solid transparent; }
  main article hr {
    padding: 0;
    margin: 0; }
  main article ul li {
    list-style-type: none; }

#bottom-footer .attribution {
  font-size: 10px;
  text-align: center; }

/*# sourceMappingURL=todo-app-main.css.map */
